# Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pprint
from functions import homeless

# Data Loading

In [115]:
HIC_2012 = pd.read_csv("../data/2012HIC_RawData/2012HIC_RawData-Table 1.csv")

In [116]:
HIC_2012.head();

In [117]:
HIC_2012.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23193 entries, 0 to 23192
Data columns (total 33 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   RowID                                        23193 non-null  int64
 1   State                                        23193 non-null  object
 2   CoC Name                                     23193 non-null  object
 3   CoC ID                                       23193 non-null  int64
 4   HUD CoC Number                               23193 non-null  object
 5   Year                                         23193 non-null  int64
 6   Organization Name                            23193 non-null  object
 7   Program Name                                 23193 non-null  object
 8   Program Type                                 23191 non-null  object
 9   Bed Type                                     13863 non-null  object
 10  Geo Code                                     23191 non-null  float64
 11  Inventory Type                               23191 non-null  object
 12  Target Population A                          23102 non-null  object
 13  Target Population B                          4709 non-null   object
 14  Mc Kinney-Vento                              23193 non-null  bool
 15  Beds for Households With Children            14347 non-null  float64
 16  Units for Households With Children           14307 non-null  float64
 17  Beds for Households Without Children         19393 non-null  float64
 18  Beds for Households With Only Children       5679 non-null   float64
 19  Total Year Round Beds                        23193 non-null  int64
 20  Chronically Homeless Beds                    7449 non-null   float64
 21  HMIS Beds for Households With Children       10995 non-null  float64
 22  HMIS Beds for Households Without Children    15876 non-null  float64
 23  HMIS Beds for Households With Only Children  4619 non-null   float64
 24  Domestic Violence Beds                       2345 non-null   float64
 25  Total Seasonal Beds                          4528 non-null   float64
 26  Seasonal Beds Available in HMIS              4474 non-null   float64
 27  Availability Start Date                      467 non-null    object
 28  Availability End Date                        467 non-null    object
 29  Overflow and Voucher Beds                    4555 non-null   float64
 30  HMIS Overflow and Voucher Beds               2318 non-null   float64
 31  PIT Count                                    22265 non-null  float64
 32  Total Beds                                   23193 non-null  int64
dtypes: bool(1), float64(15), int64(5), object(12)
memory usage: 5.7+ MB

In [118]:
HIC_2012['Geo Code'];

In [119]:
HIC_2013 = pd.read_excel("../data/2013-Housing-Inventory-Count-Raw-File.xlsx")

In [120]:
HIC_2013.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23120 entries, 0 to 23119
Data columns (total 39 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Row #                            23120 non-null  int64
 1   State                            23120 non-null  object
 2   CoC                              23120 non-null  object
 3   Coc\ID                           23120 non-null  int64
 4   HudNum                           23120 non-null  object
 5   Status                           23120 non-null  object
 6   year                             23120 non-null  int64
 7   Organization Name                23120 non-null  object
 8   Program Name                     23120 non-null  object
 9   Program Type                     23120 non-null  object
 10  usesRrhModel                     6876 non-null   float64
 11  Bed Type                         6851 non-null   object
 12  Geo Code                         23120 non-null  int64
 13  Inventory Type                   23120 non-null  object
 14  beginsOperationsWithinYear       770 non-null    float64
 15  sandyRelated                     274 non-null    float64
 16  Target Population A              22913 non-null  object
 17  Target Population B              4872 non-null   object
 18  Mc Kinney-Vento                  23120 non-null  int64
 19  Beds HH w/ Children              15125 non-null  float64
 20  Units HH w/ Children             15064 non-null  float64
 21  Beds HH w/o Children             19468 non-null  float64
 22  Beds HH w/ only Children         7392 non-null   float64
 23  Year-Round Beds                  23120 non-null  int64
 24  CH Beds                          7361 non-null   float64
 25  HMIS Beds HH w/ Children         11674 non-null  float64
 26  HMIS Beds HH w/o Children        15904 non-null  float64
 27  HMIS Beds HH w/ only Children    5981 non-null   float64
 28  DV Beds                          2371 non-null   float64
 29  Total Seasonal Beds              4406 non-null   float64
 30  Seasonal Beds Available in HMIS  4294 non-null   float64
 31  Availability Start Date          521 non-null    datetime64[ns]
 32  Availability End Date            521 non-null    datetime64[ns]
 33  O/V Beds                         4433 non-null   float64
 34  HMIS O/V Beds                    2607 non-null   float64
 35  PIT Count                        22351 non-null  float64
 36  Total Beds                       23120 non-null  int64
 37  Updated On                       23120 non-null  datetime64[ns]
 38  mergedDefunctYear                0 non-null      float64
dtypes: datetime64[ns](3), float64(18), int64(7), object(11)
memory usage: 6.9+ MB

In [121]:
HIC_2014 = pd.read_excel("../data/2014-Housing-Inventory-Count-Raw-File.xlsx")

In [122]:
HIC_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23587 entries, 0 to 23586
Data columns (total 40 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Row #                            23587 non-null  int64
 1   State                            23587 non-null  object
 2   CoC                              23587 non-null  object
 3   Coc\ID                           23587 non-null  int64
 4   HudNum                           23587 non-null  object
 5   Status                           23587 non-null  object
 6   year                             23587 non-null  int64
 7   Organization Name                23587 non-null  object
 8   Project Name                     23587 non-null  object
 9   Project Type                     23587 non-null  object
 10  Bed Type                         6829 non-null   object
 11  Geo Code                         23587 non-null  int64
 12  Inventory Type                   23587 non-null  object
 13  beginsOperationsWithinYear       507 non-null    float64
 14  Target Population A              23466 non-null  object
 15  Target Population B              2949 non-null   object
 16  Mc Kinney-Vento                  23587 non-null  int64
 17  Beds HH w/ Children              16543 non-null  float64
 18  Units HH w/ Children             16476 non-null  float64
 19  Beds HH w/o Children             20465 non-null  float64
 20  Beds HH w/ only Children         9991 non-null   float64
 21  Year-Round Beds                  23587 non-null  int64
 22  CH Beds                          7613 non-null   float64
 23  HMIS Beds HH w/ Children         14185 non-null  float64
 24  HMIS Beds HH w/o Children        18155 non-null  float64
 25  HMIS Beds HH w/ only Children    9089 non-null   float64
 26  DV Beds                          2321 non-null   float64
 27  Total Seasonal Beds              4517 non-null   float64
 28  Seasonal Beds Available in HMIS  4425 non-null   float64
 29  Availability Start Date          560 non-null    datetime64[ns]
 30  Availability End Date            560 non-null    datetime64[ns]
 31  O/V Beds                         4537 non-null   float64
 32  HMIS O/V Beds                    3220 non-null   float64
 33  yearVeteranBedCount              23131 non-null  float64
 34  yearYouthBedCount                23129 non-null  float64
 35  youthAgeGroup                    1145 non-null   float64
 36  PIT Count                        23080 non-null  float64
 37  Total Beds                       23587 non-null  int64
 38  Updated On                       23587 non-null  datetime64[ns]
 39  mergedDefunctYear                0 non-null      float64
dtypes: datetime64[ns](3), float64(19), int64(7), object(11)
memory usage: 7.2+ MB

In [123]:
HIC_2015 = pd.read_excel("../data/2015-Housing-Inventory-Count-Raw-File.xlsx")

In [124]:
HIC_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24202 entries, 0 to 24201
Data columns (total 47 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Row #                            24202 non-null  int64
 1   CoCState                         24202 non-null  object
 2   CoC                              24202 non-null  object
 3   Coc\ID                           24202 non-null  int64
 4   HudNum                           24202 non-null  object
 5   Status                           24202 non-null  object
 6   year                             24202 non-null  int64
 7   Organization Name                24202 non-null  object
 8   Project Name                     24202 non-null  object
 9   Project Type                     24202 non-null  object
 10  Bed Type                         6946 non-null   object
 11  Geo Code                         24202 non-null  int64
 12  Inventory Type                   24202 non-null  object
 13  beginsOperationsWithinYear       538 non-null    float64
 14  Target Population A              23863 non-null  object
 15  Target Population B              3015 non-null   object
 16  Mc Kinney-Vento                  24202 non-null  int64
 17  Scattered Sites                  24202 non-null  object
 18  Victim Service Provider          24202 non-null  object
 19  Address1                         17385 non-null  object
 20  Address2                         148 non-null    object
 21  City                             17425 non-null  object
 22  State                            17469 non-null  object
 23  Zip                              17401 non-null  float64
 24  Beds HH w/ Children              17893 non-null  float64
 25  Units HH w/ Children             17825 non-null  float64
 26  Beds HH w/o Children             21363 non-null  float64
 27  Beds HH w/ only Children         11957 non-null  float64
 28  Year-Round Beds                  24202 non-null  int64
 29  CH Beds                          5875 non-null   float64
 30  HMIS Beds HH w/ Children         14852 non-null  float64
 31  HMIS Beds HH w/o Children        18363 non-null  float64
 32  HMIS Beds HH w/ only Children    10679 non-null  float64
 33  DV Beds                          2362 non-null   float64
 34  Total Seasonal Beds              4493 non-null   float64
 35  Seasonal Beds Available in HMIS  4389 non-null   float64
 36  Availability Start Date          545 non-null    datetime64[ns]
 37  Availability End Date            545 non-null    datetime64[ns]
 38  O/V Beds                         4510 non-null   float64
 39  HMIS O/V Beds                    3449 non-null   float64
 40  yearVeteranBedCount              23914 non-null  float64
 41  yearYouthBedCount                23914 non-null  float64
 42  youthAgeGroup                    1423 non-null   float64
 43  PIT Count                        23665 non-null  float64
 44  Total Beds                       24202 non-null  int64
 45  Updated On                       24202 non-null  datetime64[ns]
 46  mergedDefunctYear                0 non-null      float64
dtypes: datetime64[ns](3), float64(20), int64(7), object(17)
memory usage: 8.7+ MB

In [125]:
HIC_2016 = pd.read_excel("../data/2016-Housing-Inventory-Count-Raw-File.xlsx")

In [126]:
HIC_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24104 entries, 0 to 24103
Data columns (total 69 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Row #                                   24104 non-null  int64
 1   CoCState                                24104 non-null  object
 2   CoC                                     24104 non-null  object
 3   Coc\ID                                  24104 non-null  int64
 4   HudNum                                  24104 non-null  object
 5   Status                                  24104 non-null  object
 6   year                                    24104 non-null  int64
 7   Organization ID                         24104 non-null  int64
 8   Organization Name                       24104 non-null  object
 9   Project ID                              24104 non-null  int64
 10  Project Name                            24104 non-null  object
 11  Project Type                            24104 non-null  object
 12  Bed Type                                6837 non-null   object
 13  Geo Code                                24104 non-null  int64
 14  Inventory Type                          24104 non-null  object
 15  TH Unit Type                            5592 non-null   object
 16  beginsOperationsWithinYear              347 non-null    float64
 17  Target Population A                     22944 non-null  object
 18  Target Population B                     3042 non-null   object
 19  Mc Kinney-Vento                         24104 non-null  int64
 20  federalFunding                          24056 non-null  float64
 21  federalFundingVash                      24104 non-null  int64
 22  federalFundingSsvf                      24104 non-null  int64
 23  federalFundingGpd                       24104 non-null  int64
 24  federalFundingHchv                      24104 non-null  int64
 25  federalFundingCwt                       24104 non-null  int64
 26  federalFundingBcp                       24104 non-null  int64
 27  federalFundingTlp                       24104 non-null  int64
 28  federalFundingMgh                       24104 non-null  int64
 29  federalFundingHopwa                     24104 non-null  int64
 30  federalFundingPih                       24104 non-null  int64
 31  federalFundingOther                     24104 non-null  int64
 32  federalFundingOtherSpecify              1198 non-null   object
 33  Scattered Sites                         24104 non-null  int64
 34  Victim Service Provider                 24104 non-null  int64
 35  Address1                                17084 non-null  object
 36  Address2                                163 non-null    object
 37  City                                    17136 non-null  object
 38  State                                   17168 non-null  object
 39  Zip                                     17114 non-null  float64
 40  Beds HH w/ Children                     18776 non-null  float64
 41  Units HH w/ Children                    18737 non-null  float64
 42  HMIS Beds HH w/ Children                16706 non-null  float64
 43  Veteran Beds HH w/ Children             17123 non-null  float64
 44  Youth Beds HH w/ Children               17116 non-null  float64
 45  CH Beds HH w/ Children                  5527 non-null   float64
 46  Beds HH w/o Children                    21833 non-null  float64
 47  HMIS Beds HH w/o Children               20007 non-null  float64
 48  Veteran Beds HH w/o Children            20943 non-null  float64
 49  Youth Beds HH w/o Children              20939 non-null  float64
 50  CH Beds HH w/o Children                 7960 non-null   float64
 51  Beds HH w/ only Children                14109 non-null  float64
 52  HMIS Beds HH w/ only Children           13132 non-null  float64
 53  CH Beds HH w only Children              3602 non-null   float64
 54  Year-Round Beds                         24104 non-null  int64
 55  DV Beds                                 2392 non-null   float64
 56  Total Seasonal Beds                     4622 non-null   float64
 57  Seasonal Beds Available in HMIS         4548 non-null   float64
 58  Availability Start Date                 531 non-null    datetime64[ns]
 59  Availability End Date                   531 non-null    datetime64[ns]
 60  O/V Beds                                4651 non-null   float64
 61  HMIS O/V Beds                           3926 non-null   float64
 62  PIT Count                               23758 non-null  float64
 63  Total Beds                              24104 non-null  int64
 64  Updated On                              24104 non-null  datetime64[ns]
 65  mergedDefunctYear                       0 non-null      float64
 66  questionUsesDescriptorElements          24104 non-null  int64
 67  questionDesiresToUseDescriptorElements  6455 non-null   float64
 68  notes                                   2371 non-null   object
dtypes: datetime64[ns](3), float64(25), int64(23), object(18)
memory usage: 12.7+ MB

In [127]:
HIC_2017 = pd.read_excel("../data/2017-Housing-Inventory-Count-Raw-File.xlsx")

In [128]:
HIC_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24422 entries, 0 to 24421
Data columns (total 82 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Row #                                   24422 non-null  int64
 1   State                                   24422 non-null  object
 2   CoC                                     24422 non-null  object
 3   Coc\ID                                  24422 non-null  int64
 4   HudNum                                  24422 non-null  object
 5   Status                                  24422 non-null  object
 6   year                                    24422 non-null  int64
 7   Organization ID                         24422 non-null  int64
 8   Organization Name                       24422 non-null  object
 9   Project ID                              24422 non-null  int64
 10  Project Name                            24422 non-null  object
 11  Project Type                            24422 non-null  object
 12  Bed Type                                7009 non-null   object
 13  Geo Code                                24422 non-null  int64
 14  Inventory Type                          24422 non-null  object
 15  beginsOperationsWithinYear              475 non-null    float64
 16  Target Population A                     23257 non-null  object
 17  Target Population B                     2996 non-null   object
 18  Mc Kinney-Vento                         24422 non-null  int64
 19  mcKinneyVentoEsgEs                      24422 non-null  int64
 20  mcKinneyVentoEsgRrh                     24422 non-null  int64
 21  mcKinneyVentoCocSh                      24422 non-null  int64
 22  mcKinneyVentoCocTh                      24422 non-null  int64
 23  mcKinneyVentoCocPsh                     24422 non-null  int64
 24  mcKinneyVentoCocSso                     24422 non-null  int64
 25  mcKinneyVentoCocRrh                     24422 non-null  int64
 26  mcKinneyVentoCocSro                     24422 non-null  int64
 27  mcKinneyVentoSpC                        24422 non-null  int64
 28  mcKinneyVentoS8                         24422 non-null  int64
 29  mcKinneyVentoShp                        24422 non-null  int64
 30  federalFunding                          24422 non-null  int64
 31  federalFundingVash                      24422 non-null  int64
 32  federalFundingSsvf                      24422 non-null  int64
 33  federalFundingGpd                       24422 non-null  int64
 34  federalFundingHchv                      24422 non-null  int64
 35  federalFundingCwt                       24422 non-null  int64
 36  federalFundingBcp                       24422 non-null  int64
 37  federalFundingTlp                       24422 non-null  int64
 38  federalFundingMgh                       24422 non-null  int64
 39  federalFundingHopwa                     24422 non-null  int64
 40  federalFundingPih                       24422 non-null  int64
 41  federalFundingOther                     24422 non-null  int64
 42  federalFundingOtherSpecify              833 non-null    object
 43  housingType                             24422 non-null  object
 44  Victim Service Provider                 24422 non-null  int64
 45  address1                                19189 non-null  object
 46  address2                                218 non-null    object
 47  city                                    19508 non-null  object
 48  ProjectState                            20354 non-null  object
 49  zip                                     22244 non-null  float64
 50  Beds HH w/ Children                     19283 non-null  float64
 51  Units HH w/ Children                    19247 non-null  float64
 52  HMIS Beds HH w/ Children                16934 non-null  float64
 53  Veteran Beds HH w/ Children             18368 non-null  float64
 54  Youth Beds HH w/ Children               18354 non-null  float64
 55  CH Beds HH w/ Children                  5366 non-null   float64
 56  Beds HH w/o Children                    22091 non-null  float64
 57  HMIS Beds HH w/o Children               19870 non-null  float64
 58  Veteran Beds HH w/o Children            21639 non-null  float64
 59  Youth Beds HH w/o Children              21642 non-null  float64
 60  CH Beds HH w/o Children                 7820 non-null   float64
 61  Beds HH w/ only Children                14583 non-null  float64
 62  HMIS Beds HH w/ only Children           13293 non-null  float64
 63  CH Beds HH w only Children              3489 non-null   float64
 64  Year-Round Beds                         24422 non-null  int64
 65  DV Beds                                 2354 non-null   float64
 66  Total Seasonal Beds                     4445 non-null   float64
 67  Seasonal Beds Available in HMIS         4386 non-null   float64
 68  Availability Start Date                 545 non-null    datetime64[ns]
 69  Availability End Date                   545 non-null    datetime64[ns]
 70  O/V Beds                                4462 non-null   float64
 71  HMIS O/V Beds                           3961 non-null   float64
 72  PIT Count                               23947 non-null  float64
 73  Total Beds                              24422 non-null  int64
 74  Updated On                              24422 non-null  datetime64[ns]
 75  mergedDefunctYear                       0 non-null      float64
 76  questionUsesDescriptorElements          24422 non-null  int64
 77  questionDesiresToUseDescriptorElements  6344 non-null   float64
 78  notes                                   2701 non-null   object
 79  projectNotes                            2636 non-null   object
 80  sandyRelated                            12251 non-null  float64
 81  sandyRelatedNote                        3 non-null      object
dtypes: datetime64[ns](3), float64(25), int64(34), object(20)
memory usage: 15.3+ MB

In [129]:
HIC_2018 = pd.read_excel("../data/2018-Housing-Inventory-County-RawFile.xlsx")

In [130]:
HIC_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24635 entries, 0 to 24634
Data columns (total 96 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Row #                                   24635 non-null  int64
 1   CocState                                24635 non-null  object
 2   CoC                                     24635 non-null  object
 3   Coc\ID                                  24635 non-null  int64
 4   HudNum                                  24635 non-null  object
 5   Status                                  24635 non-null  object
 6   year                                    24635 non-null  int64
 7   Organization ID                         24635 non-null  int64
 8   Organization Name                       24635 non-null  object
 9   Project ID                              24635 non-null  int64
 10  Project Name                            24634 non-null  object
 11  Project Type                            24634 non-null  object
 12  Bed Type                                7122 non-null   object
 13  Geo Code                                24635 non-null  int64
 14  Inventory Type                          24634 non-null  object
 15  beginsOperationsWithinYear              405 non-null    float64
 16  Target Population A                     22872 non-null  object
 17  Target Population B                     3026 non-null   object
 18  Mc Kinney-Vento                         24635 non-null  int64
 19  mcKinneyVentoEsg                        24635 non-null  int64
 20  mcKinneyVentoEsgEs                      3062 non-null   float64
 21  mcKinneyVentoEsgRrh                     3062 non-null   float64
 22  mcKinneyVentoCoc                        24635 non-null  int64
 23  mcKinneyVentoCocSh                      6818 non-null   float64
 24  mcKinneyVentoCocTh                      6818 non-null   float64
 25  mcKinneyVentoCocPsh                     6818 non-null   float64
 26  mcKinneyVentoCocRrh                     6818 non-null   float64
 27  mcKinneyVentoCocSro                     6818 non-null   float64
 28  mcKinneyVentoSpC                        24635 non-null  int64
 29  mcKinneyVentoS8                         24635 non-null  int64
 30  mcKinneyVentoShp                        24635 non-null  int64
 31  federalFunding                          24635 non-null  int64
 32  federalFundingVash                      24635 non-null  int64
 33  federalFundingSsvf                      24635 non-null  int64
 34  federalFundingGpd                       24635 non-null  int64
 35  federalFundingGpdBh                     546 non-null    float64
 36  federalFundingGpdLd                     546 non-null    float64
 37  federalFundingGpdHh                     546 non-null    float64
 38  federalFundingGpdCt                     546 non-null    float64
 39  federalFundingGpdSith                   546 non-null    float64
 40  federalFundingGpdTp                     546 non-null    float64
 41  federalFundingHchv                      24635 non-null  int64
 42  federalFundingHchvCrs                   160 non-null    float64
 43  federalFundingHchvSh                    160 non-null    float64
 44  federalFundingCwt                       24635 non-null  int64
 45  federalFundingBcp                       24635 non-null  int64
 46  federalFundingTlp                       24635 non-null  int64
 47  federalFundingMgh                       24635 non-null  int64
 48  federalFundingRhyDp                     24635 non-null  int64
 49  federalFundingHopwa                     24635 non-null  int64
 50  federalFundingHopwaHmv                  331 non-null    float64
 51  federalFundingHopwaPh                   331 non-null    float64
 52  federalFundingHopwaStsf                 331 non-null    float64
 53  federalFundingHopwaTh                   331 non-null    float64
 54  federalFundingPih                       24635 non-null  int64
 55  federalFundingOther                     24635 non-null  int64
 56  federalFundingOtherSpecify              1042 non-null   object
 57  housingType                             24635 non-null  object
 58  Victim Service Provider                 24635 non-null  int64
 59  address1                                19160 non-null  object
 60  address2                                274 non-null    object
 61  city                                    19459 non-null  object
 62  state                                   20383 non-null  object
 63  zip                                     22367 non-null  float64
 64  Beds HH w/ Children                     20458 non-null  float64
 65  Units HH w/ Children                    20444 non-null  float64
 66  HMIS Beds HH w/ Children                18672 non-null  float64
 67  Veteran Beds HH w/ Children             19866 non-null  float64
 68  Youth Beds HH w/ Children               19869 non-null  float64
 69  CH Beds HH w/ Children                  5923 non-null   float64
 70  Beds HH w/o Children                    22709 non-null  float64
 71  HMIS Beds HH w/o Children               20985 non-null  float64
 72  Veteran Beds HH w/o Children            22452 non-null  float64
 73  Youth Beds HH w/o Children              22456 non-null  float64
 74  CH Beds HH w/o Children                 7873 non-null   float64
 75  Beds HH w/ only Children                16587 non-null  float64
 76  HMIS Beds HH w/ only Children           15375 non-null  float64
 77  CH Beds HH w only Children              4205 non-null   float64
 78  Year-Round Beds                         24635 non-null  int64
 79  DV Beds                                 2359 non-null   float64
 80  Total Seasonal Beds                     5013 non-null   float64
 81  Seasonal Beds Available in HMIS         4962 non-null   float64
 82  Availability Start Date                 571 non-null    datetime64[ns]
 83  Availability End Date                   571 non-null    datetime64[ns]
 84  O/V Beds                                5018 non-null   float64
 85  HMIS O/V Beds                           4642 non-null   float64
 86  PIT Count                               24229 non-null  float64
 87  Total Beds                              24635 non-null  int64
 88  Updated On                              24635 non-null  datetime64[ns]
 89  mergedDefunctYear                       0 non-null      float64
 90  questionUsesDescriptorElements          24635 non-null  int64
 91  questionDesiresToUseDescriptorElements  5850 non-null   float64
 92  notes                                   3748 non-null   object
 93  projectNotes                            2152 non-null   object
 94  sandyRelated                            24599 non-null  float64
 95  sandyRelatedNote                        37 non-null     object
dtypes: datetime64[ns](3), float64(44), int64(29), object(20)
memory usage: 18.0+ MB

In [131]:
HIC_2019 = pd.read_excel("../data/2019-Housing-Inventory-County-RawFile.xlsx")

In [132]:
HIC_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25142 entries, 0 to 25141
Data columns (total 98 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Row #                                   25142 non-null  int64
 1   CocState                                25142 non-null  object
 2   CoC                                     25142 non-null  object
 3   Coc\ID                                  25142 non-null  int64
 4   HudNum                                  25142 non-null  object
 5   Status                                  25142 non-null  object
 6   year                                    25142 non-null  int64
 7   Organization ID                         25142 non-null  int64
 8   Organization Name                       25142 non-null  object
 9   HMIS Org ID                             17803 non-null  object
 10  Project ID                              25142 non-null  int64
 11  Project Name                            25142 non-null  object
 12  HMIS Project ID                         25110 non-null  object
 13  HIC Date                                25142 non-null  datetime64[ns]
 14  Project Type                            25142 non-null  object
 15  Bed Type                                7392 non-null   object
 16  Geo Code                                25142 non-null  int64
 17  Inventory Type                          25142 non-null  object
 18  beginsOperationsWithinYear              378 non-null    float64
 19  Target Population                       3051 non-null   object
 20  Mc Kinney-Vento                         25131 non-null  float64
 21  mcKinneyVentoEsg                        25142 non-null  int64
 22  mcKinneyVentoEsgEs                      3192 non-null   float64
 23  mcKinneyVentoEsgRrh                     3192 non-null   float64
 24  mcKinneyVentoCoc                        25142 non-null  int64
 25  mcKinneyVentoCocSh                      6685 non-null   float64
 26  mcKinneyVentoCocTh                      6685 non-null   float64
 27  mcKinneyVentoCocPsh                     6685 non-null   float64
 28  mcKinneyVentoCocRrh                     6685 non-null   float64
 29  mcKinneyVentoCocSro                     6685 non-null   float64
 30  mcKinneyVentoSpC                        25142 non-null  int64
 31  mcKinneyVentoS8                         25142 non-null  int64
 32  mcKinneyVentoShp                        25142 non-null  int64
 33  federalFunding                          25128 non-null  float64
 34  federalFundingVash                      25142 non-null  int64
 35  federalFundingSsvf                      25142 non-null  int64
 36  federalFundingGpd                       25142 non-null  int64
 37  federalFundingGpdBh                     527 non-null    float64
 38  federalFundingGpdLd                     527 non-null    float64
 39  federalFundingGpdHh                     526 non-null    float64
 40  federalFundingGpdCt                     527 non-null    float64
 41  federalFundingGpdSith                   526 non-null    float64
 42  federalFundingGpdTp                     527 non-null    float64
 43  federalFundingHchv                      25142 non-null  int64
 44  federalFundingHchvCrs                   149 non-null    float64
 45  federalFundingHchvSh                    149 non-null    float64
 46  federalFundingCwt                       25142 non-null  int64
 47  federalFundingBcp                       25142 non-null  int64
 48  federalFundingTlp                       25142 non-null  int64
 49  federalFundingMgh                       25142 non-null  int64
 50  federalFundingRhyDp                     25142 non-null  int64
 51  federalFundingHopwa                     25142 non-null  int64
 52  federalFundingHopwaHmv                  343 non-null    float64
 53  federalFundingHopwaPh                   343 non-null    float64
 54  federalFundingHopwaStsf                 343 non-null    float64
 55  federalFundingHopwaTh                   343 non-null    float64
 56  federalFundingPih                       25142 non-null  int64
 57  federalFundingOther                     25142 non-null  int64
 58  federalFundingOtherSpecify              1245 non-null   object
 59  housingType                             25142 non-null  object
 60  Victim Service Provider                 25142 non-null  int64
 61  address1                                19920 non-null  object
 62  address2                                307 non-null    object
 63  city                                    20187 non-null  object
 64  state                                   21179 non-null  object
 65  zip                                     23388 non-null  float64
 66  Beds HH w/ Children                     21298 non-null  float64
 67  Units HH w/ Children                    21287 non-null  float64
 68  HMIS Beds HH w/ Children                19814 non-null  float64
 69  Veteran Beds HH w/ Children             20888 non-null  float64
 70  Youth Beds HH w/ Children               20892 non-null  float64
 71  CH Beds HH w/ Children                  6062 non-null   float64
 72  Beds HH w/o Children                    23402 non-null  float64
 73  HMIS Beds HH w/o Children               21967 non-null  float64
 74  Veteran Beds HH w/o Children            23244 non-null  float64
 75  Youth Beds HH w/o Children              23248 non-null  float64
 76  CH Beds HH w/o Children                 8009 non-null   float64
 77  Beds HH w/ only Children                17771 non-null  float64
 78  HMIS Beds HH w/ only Children           16691 non-null  float64
 79  CH Beds HH w only Children              4374 non-null   float64
 80  Year-Round Beds                         25142 non-null  int64
 81  DV Beds                                 2372 non-null   float64
 82  Total Seasonal Beds                     5175 non-null   float64
 83  Seasonal Beds Available in HMIS         5143 non-null   float64
 84  Availability Start Date                 593 non-null    datetime64[ns]
 85  Availability End Date                   593 non-null    datetime64[ns]
 86  O/V Beds                                5217 non-null   float64
 87  HMIS O/V Beds                           4943 non-null   float64
 88  PIT Count                               24764 non-null  float64
 89  Total Beds                              25142 non-null  int64
 90  Updated On                              25142 non-null  datetime64[ns]
 91  mergedDefunctYear                       0 non-null      float64
 92  questionUsesDescriptorElements          25142 non-null  int64
 93  questionDesiresToUseDescriptorElements  4716 non-null   float64
 94  notes                                   3854 non-null   object
 95  projectNotes                            2704 non-null   object
 96  sandyRelated                            25142 non-null  int64
 97  sandyRelatedNote                        17 non-null     object
dtypes: datetime64[ns](4), float64(45), int64(28), object(21)
memory usage: 18.8+ MB

In [133]:
HIC_2020 = pd.read_excel("../data/2020-HIC-Raw-File.xlsx")

In [134]:
HIC_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25228 entries, 0 to 25227
Data columns (total 93 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Row #                                   25228 non-null  int64
 1   CocState                                25228 non-null  object
 2   CoC                                     25228 non-null  object
 3   Coc\ID                                  25228 non-null  int64
 4   HudNum                                  25228 non-null  object
 5   Status                                  25228 non-null  object
 6   year                                    25228 non-null  int64
 7   Organization ID                         25228 non-null  int64
 8   Organization Name                       25227 non-null  object
 9   HMIS Org ID                             25202 non-null  object
 10  Project ID                              25228 non-null  int64
 11  Project Name                            25228 non-null  object
 12  HMIS Project ID                         25218 non-null  object
 13  HIC Date                                25228 non-null  datetime64[ns]
 14  Project Type                            25228 non-null  object
 15  Bed Type                                7572 non-null   object
 16  Geo Code                                25228 non-null  int64
 17  HMIS Participating                      25223 non-null  float64
 18  Inventory Type                          25226 non-null  object
 19  beginsOperationsWithinYear              400 non-null    float64
 20  Target Population                       3135 non-null   object
 21  mcKinneyVentoEsg                        25228 non-null  int64
 22  mcKinneyVentoEsgEs                      3115 non-null   float64
 23  mcKinneyVentoEsgRrh                     3115 non-null   float64
 24  mcKinneyVentoCoc                        25228 non-null  int64
 25  mcKinneyVentoCocSh                      6381 non-null   float64
 26  mcKinneyVentoCocTh                      6381 non-null   float64
 27  mcKinneyVentoCocPsh                     6381 non-null   float64
 28  mcKinneyVentoCocRrh                     6381 non-null   float64
 29  mcKinneyVentoCocSro                     6381 non-null   float64
 30  mcKinneyVentoCocYhdp                    6381 non-null   float64
 31  mcKinneyVentoCocThRrh                   6381 non-null   float64
 32  mcKinneyVentoSpC                        25228 non-null  int64
 33  mcKinneyVentoS8                         25228 non-null  int64
 34  mcKinneyVentoShp                        25228 non-null  int64
 35  federalFundingVash                      25228 non-null  int64
 36  federalFundingSsvf                      25228 non-null  int64
 37  federalFundingGpd                       25228 non-null  int64
 38  federalFundingGpdBh                     528 non-null    float64
 39  federalFundingGpdLd                     528 non-null    float64
 40  federalFundingGpdHh                     528 non-null    float64
 41  federalFundingGpdCt                     528 non-null    float64
 42  federalFundingGpdSith                   528 non-null    float64
 43  federalFundingGpdTp                     528 non-null    float64
 44  federalFundingHchv                      25228 non-null  int64
 45  federalFundingHchvCrs                   149 non-null    float64
 46  federalFundingHchvSh                    149 non-null    float64
 47  federalFundingBcp                       25228 non-null  int64
 48  federalFundingTlp                       25228 non-null  int64
 49  federalFundingMgh                       25228 non-null  int64
 50  federalFundingRhyDp                     25228 non-null  int64
 51  federalFundingHopwa                     25228 non-null  int64
 52  federalFundingHopwaHmv                  279 non-null    float64
 53  federalFundingHopwaPh                   279 non-null    float64
 54  federalFundingHopwaStsf                 279 non-null    float64
 55  federalFundingHopwaTh                   279 non-null    float64
 56  federalFundingPih                       25228 non-null  int64
 57  federalFundingOther                     25228 non-null  int64
 58  federalFundingOtherSpecify              1240 non-null   object
 59  housingType                             25228 non-null  object
 60  Victim Service Provider                 25228 non-null  int64
 61  address1                                19966 non-null  object
 62  address2                                298 non-null    object
 63  city                                    20327 non-null  object
 64  state                                   21247 non-null  object
 65  zip                                     23750 non-null  float64
 66  Beds HH w/ Children                     21444 non-null  float64
 67  Units HH w/ Children                    21391 non-null  float64
 68  Veteran Beds HH w/ Children             21109 non-null  float64
 69  Youth Beds HH w/ Children               21110 non-null  float64
 70  CH Beds HH w/ Children                  6175 non-null   float64
 71  Beds HH w/o Children                    23534 non-null  float64
 72  Veteran Beds HH w/o Children            23454 non-null  float64
 73  Youth Beds HH w/o Children              23443 non-null  float64
 74  CH Beds HH w/o Children                 7840 non-null   float64
 75  Beds HH w/ only Children                17903 non-null  float64
 76  CH Beds HH w only Children              4647 non-null   float64
 77  Year-Round Beds                         25228 non-null  int64
 78  DV Beds                                 2488 non-null   float64
 79  Total Seasonal Beds                     5162 non-null   float64
 80  Availability Start Date                 606 non-null    datetime64[ns]
 81  Availability End Date                   606 non-null    datetime64[ns]
 82  O/V Beds                                5202 non-null   float64
 83  PIT Count                               24826 non-null  float64
 84  Total Beds                              25228 non-null  int64
 85  Updated On                              25228 non-null  datetime64[ns]
 86  mergedDefunctYear                       0 non-null      float64
 87  questionUsesDescriptorElements          25228 non-null  int64
 88  questionDesiresToUseDescriptorElements  4769 non-null   float64
 89  notes                                   4138 non-null   object
 90  projectNotes                            2650 non-null   object
 91  sandyRelated                            25228 non-null  int64
 92  sandyRelatedNote                        3 non-null      object
dtypes: datetime64[ns](4), float64(41), int64(27), object(21)
memory usage: 17.9+ MB

In [135]:
# list of all HIC dataframes
HICs = [HIC_2012, HIC_2013, HIC_2014, HIC_2015, HIC_2016, HIC_2017, HIC_2018, HIC_2019, HIC_2020]

In [136]:
HIC_2020["CoC\ID"];

KeyError: 'CoC\\ID'

# Table Merging

In [142]:
HIC_df = pd.concat(HICs).drop(["HIC Date", ""], axis=1)

In [143]:
HIC_df.value_counts()

TypeError: '<' not supported between instances of 'datetime.datetime' and 'int'

In [144]:
HIC_df.dtypes

RowID                    float64
State                     object
CoC Name                  object
CoC ID                   float64
HUD CoC Number            object
                          ...
HMIS Project ID           object
Target Population         object
HMIS Participating       float64
mcKinneyVentoCocYhdp     float64
mcKinneyVentoCocThRrh    float64
Length: 136, dtype: object

In [145]:
HIC_df

,RowID,State,CoC Name,CoC ID,HUD CoC Number,Year,Organization Name,Program Name,Program Type,Bed Type,...,federalFundingHopwaPh,federalFundingHopwaStsf,federalFundingHopwaTh,state,HMIS Org ID,HMIS Project ID,Target Population,HMIS Participating,mcKinneyVentoCocYhdp,mcKinneyVentoCocThRrh
0,110441.0,AK,Alaska Balance of State CoC,1105.0,AK-501,2012.0,Adocates f/Victims of Violnc,DV Shelter,ES,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,110504.0,AK,Alaska Balance of State CoC,1105.0,AK-501,2012.0,AHFC - Public Housing Div,VASH-Fairbanks,PSH,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,110442.0,AK,Alaska Balance of State CoC,1105.0,AK-501,2012.0,AK Family Services,DV Shelter,ES,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,110443.0,AK,Alaska Balance of State CoC,1105.0,AK-501,2012.0,AK Family Services,Saxton Shelter,ES,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,110444.0,AK,Alaska Balance of State CoC,1105.0,AK-501,2012.0,Arctic Women in Crisis,DV Shelter,ES,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25223,NaN,NaN,NaN,NaN,NaN,NaN,Saving Grace,NaN,NaN,F,...,NaN,NaN,NaN,NaN,4204,5908,DV,0.0,NaN,NaN
25224,NaN,NaN,NaN,NaN,NaN,NaN,Buckelew Programs,NaN,NaN,NaN,...,NaN,NaN,NaN,CA,1,822,NaN,1.0,0.0,0.0
25225,NaN,NaN,NaN,NaN,NaN,NaN,Buckelew Programs,NaN,NaN,NaN,...,NaN,NaN,NaN,CA,1,820,NaN,1.0,0.0,0.0
25226,NaN,NaN,NaN,NaN,NaN,NaN,Buckelew Programs,NaN,NaN,NaN,...,NaN,NaN,NaN,CA,1,979,NaN,1.0,NaN,NaN
25227,NaN,NaN,NaN,NaN,NaN,NaN,Buckelew Programs,NaN,NaN,NaN,...,NaN,NaN,NaN,CA,1,935,NaN,1.0,NaN,NaN

In [102]:
PIT_2012 = pd.read_csv("../data/2007-2020-PIT-Estimates-by-CoC/2012-Table 1.csv")
PIT_2012['year'] = 2012
PIT_2012.replace(',','', regex=True, inplace=True)
# c = PIT_2012.select_dtypes(object).columns
# PIT_2012[c] = PIT_2012[c].apply(pd.to_numeric,errors='coerce')

# pd.to_numeric([PIT_2012['Unsheltered Homeless, 2012', 'Overall Homeless, 2012']], errors='coerce')
PIT_2012['Unsheltered Homeless, 2012'] = PIT_2012['Unsheltered Homeless, 2012'].astype(float)
PIT_2012['Overall Homeless, 2012'] = PIT_2012['Overall Homeless, 2012'].astype(float)
# PIT_2012['Overall Homeless, 2012'] = PIT_2012['Overall Homeless, 2012'].astype(float)

PIT_2012['unsheltered rate'] = (PIT_2012['Unsheltered Homeless, 2012'] / PIT_2012['Overall Homeless, 2012'])
PIT_2012 = PIT_2012.loc[:, ['year','CoC Number', 'CoC Name', 'unsheltered rate']]
PIT_2012.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390 entries, 0 to 389
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              390 non-null    int64
 1   CoC Number        388 non-null    object
 2   CoC Name          388 non-null    object
 3   unsheltered rate  388 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 12.3+ KB

In [93]:
PIT_2012.head()

   year  CoC Number  CoC Name  unsheltered rate
0  2012         NaN       NaN          0.043592
1  2012         NaN       NaN          0.191906
2  2012         NaN       NaN          0.408905
3  2012         NaN       NaN          0.488959
4  2012         NaN       NaN          0.020833

In [2]:
PIT_2013 = pd.read_csv("../data/2007-2020-PIT-Estimates-by-CoC/2013-Table 1.csv")
# PIT_2013['year'] = '2013'
# PIT_2013['unsheltered rate'] = (PIT_2013['Unsheltered Homeless, 2013'] / PIT_2013['Overall Homeless, 2013'])
# PIT_2013 = PIT_2013.loc[:, ['year','CoC Number', 'CoC Name', 'unsheltered rate']]

In [113]:
PIT_2013

,CoC Number,CoC Name,"Overall Homeless, 2013","Overall Homeless - Under 18, 2013","Overall Homeless - Age 18 to 24, 2013","Overall Homeless - Over 24, 2013","Sheltered ES Homeless, 2013","Sheltered ES Homeless - Under 18, 2013","Sheltered ES Homeless - Age 18 to 24, 2013","Sheltered ES Homeless - Over 24, 2013",...,"Sheltered ES Chronically Homeless People in Families, 2013","Sheltered Total Chronically Homeless People in Families, 2013","Unsheltered Chronically Homeless People in Families, 2013","Overall Homeless Veterans, 2013","Overall Homeless Veterans - Female, 2013","Sheltered Total Homeless Veterans, 2013","Sheltered Total Homeless Veterans - Female, 2013","Unsheltered Homeless Veterans, 2013","Unsheltered Homeless Veterans - Female, 2013",year
0,AK-500,Anchorage CoC,1122,165,104,853,676,79,54,543,...,6,6,0,144,4,138,4,6,0,2013
1,AK-501,Alaska Balance of State CoC,824,204,85,535,461,116,49,296,...,8,8,4,66,5,50,4,16,1,2013
2,AL-500,Birmingham/Jefferson St. Clair Shelby Counties...,1469,259,108,1102,373,59,38,276,...,11,11,5,194,4,155,4,39,0,2013
3,AL-501,Mobile City & County/Baldwin County CoC,493,92,25,376,153,34,5,114,...,2,2,0,41,2,5,0,36,2,2013
4,AL-502,Florence/Northwest Alabama CoC,223,64,30,129,22,8,0,14,...,5,5,11,2,1,0,0,2,1,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,WV-508,West Virginia Balance of State CoC,1513,275,250,988,673,134,53,486,...,35,35,3,257,14,230,14,27,0,2013
387,WY-500,Wyoming Statewide CoC,953,223,98,632,292,31,12,249,...,0,0,23,137,2,110,2,27,0,2013
388,NaN,Total,590364,138146,59798,392420,236658,65808,22027,148823,...,8150,8150,8389,55619,4339,34909,2932,20710,1407,2013
389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
390,a MO-604 covers territory in both Missouri and...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013

In [3]:
h = homeless(PIT_2013, 2013)
PIT_2013 = h.format_df()

ValueError: could not convert string to float: 'AL-506'

In [138]:
PIT_2013.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 94 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   CoC Number                                                        389 non-null    object
 1   CoC Name                                                          389 non-null    object
 2   Overall Homeless, 2013                                            389 non-null    object
 3   Overall Homeless - Under 18, 2013                                 389 non-null    object
 4   Overall Homeless - Age 18 to 24, 2013                             389 non-null    object
 5   Overall Homeless - Over 24, 2013                                  389 non-null    object
 6   Sheltered ES Homeless, 2013                                       389 non-null    object
 7   Sheltered ES Homeless - Under 18, 2013                            389 non-null    object
 8   Sheltered ES Homeless - Age 18 to 24, 2013                        389 non-null    object
 9   Sheltered ES Homeless - Over 24, 2013                             389 non-null    object
 10  Sheltered TH Homeless, 2013                                       389 non-null    object
 11  Sheltered TH Homeless - Under 18, 2013                            389 non-null    object
 12  Sheltered TH Homeless - Age 18 to 24, 2013                        389 non-null    object
 13  Sheltered TH Homeless - Over 24, 2013                             389 non-null    object
 14  Sheltered SH Homeless, 2013                                       389 non-null    object
 15  Sheltered SH Homeless - Age 18 to 24, 2013                        389 non-null    float64
 16  Sheltered SH Homeless - Over 24, 2013                             389 non-null    object
 17  Sheltered Total Homeless, 2013                                    389 non-null    object
 18  Sheltered Total Homeless - Under 18, 2013                         389 non-null    object
 19  Sheltered Total Homeless - Age 18 to 24, 2013                     389 non-null    object
 20  Sheltered Total Homeless - Over 24, 2013                          389 non-null    object
 21  Unsheltered Homeless, 2013                                        389 non-null    object
 22  Unsheltered Homeless - Under 18, 2013                             389 non-null    object
 23  Unsheltered Homeless - Age 18 to 24, 2013                         389 non-null    object
 24  Unsheltered Homeless - Over 24, 2013                              389 non-null    object
 25  Overall Homeless Individuals, 2013                                389 non-null    object
 26  Overall Homeless Individuals - Under 18, 2013                     389 non-null    object
 27  Overall Homeless Individuals - Age 18 to 24, 2013                 389 non-null    object
 28  Overall Homeless Individuals - Over 24, 2013                      389 non-null    object
 29  Sheltered ES Homeless Individuals, 2013                           389 non-null    object
 30  Sheltered ES Homeless Individuals - Under 18, 2013                389 non-null    object
 31  Sheltered ES Homeless Individuals - Age 18 to 24, 2013            389 non-null    object
 32  Sheltered ES Homeless Individuals - Over 24, 2013                 389 non-null    object
 33  Sheltered TH Homeless Individuals, 2013                           389 non-null    object
 34  Sheltered TH Homeless Individuals - Under 18, 2013                389 non-null    object
 35  Sheltered TH Homeless Individuals - Age 18 to 24, 2013            389 non-null    object
 36  Sheltered TH Homeless Individuals - Over 24, 2013                 389 non-null    object
 37  Sheltered SH Homeless Individuals, 2013                           389 non-null    object
 38  Sheltered SH Homeless Individuals - Age 18 to 24, 2013            389 non-null    float64
 39  Sheltered SH Homeless Individuals - Over 24, 2013                 389 non-null    object
 40  Sheltered Total Homeless Individuals, 2013                        389 non-null    object
 41  Sheltered Total Homeless Individuals - Under 18, 2013             389 non-null    object
 42  Sheltered Total Homeless Individuals - Age 18 to 24, 2013         389 non-null    object
 43  Sheltered Total Homeless Individuals - Over 24, 2013              389 non-null    object
 44  Unsheltered Homeless Individuals, 2013                            389 non-null    object
 45  Unsheltered Homeless Individuals - Under 18, 2013                 389 non-null    object
 46  Unsheltered Homeless Individuals - Age 18 to 24, 2013             389 non-null    object
 47  Unsheltered Homeless Individuals - Over 24, 2013                  389 non-null    object
 48  Overall Homeless People in Families, 2013                         389 non-null    object
 49  Overall Homeless People in Families - Under 18, 2013              389 non-null    object
 50  Overall Homeless People in Families - Age 18 to 24, 2013          389 non-null    object
 51  Overall Homeless People in Families - Over 24, 2013               389 non-null    object
 52  Sheltered ES Homeless People in Families, 2013                    389 non-null    object
 53  Sheltered ES Homeless People in Families - Under 18, 2013         389 non-null    object
 54  Sheltered ES Homeless People in Families - Age 18 to 24, 2013     389 non-null    object
 55  Sheltered ES Homeless People in Families - Over 24, 2013          389 non-null    object
 56  Sheltered TH Homeless People in Families, 2013                    389 non-null    object
 57  Sheltered TH Homeless People in Families - Under 18, 2013         389 non-null    object
 58  Sheltered TH Homeless People in Families - Age 18 to 24, 2013     389 non-null    object
 59  Sheltered TH Homeless People in Families - Over 24, 2013          389 non-null    object
 60  Sheltered Total Homeless People in Families, 2013                 389 non-null    object
 61  Sheltered Total Homeless People in Families - Under 18, 2013      389 non-null    object
 62  Sheltered Total Homeless People in Families - Age 18 to 24, 2013  389 non-null    object
 63  Sheltered Total Homeless People in Families - Over 24, 2013       389 non-null    object
 64  Unsheltered Homeless People in Families, 2013                     389 non-null    object
 65  Unsheltered Homeless People in Families - Under 18, 2013          389 non-null    object
 66  Unsheltered Homeless People in Families - Age 18 to 24, 2013      389 non-null    object
 67  Unsheltered Homeless People in Families - Over 24, 2013           389 non-null    object
 68  Overall Homeless Family Households, 2013                          389 non-null    object
 69  Sheltered ES Homeless Family Households, 2013                     389 non-null    object
 70  Sheltered TH Homeless Family Households, 2013                     389 non-null    object
 71  Sheltered Total Homeless Family Households, 2013                  389 non-null    object
 72  Unsheltered Homeless Family Households, 2013                      389 non-null    object
 73  Overall Chronically Homeless, 2013                                389 non-null    object
 74  Sheltered ES Chronically Homeless, 2013                           389 non-null    object
 75  Sheltered SH Chronically Homeless, 2013                           389 non-null    object
 76  Sheltered Total Chronically Homeless, 2013                        389 non-null    object
 77  Unsheltered Chronically Homeless, 2013                            389 non-null    object
 78  Overall Chronically Homeless Individuals, 2013                    389 non-null    object
 79  Sheltered ES Chronically Homeless Individuals, 2013               389 non-null    object
 80  Sheltered SH Chronically Homeless Individuals, 2013               389 non-null    object
 81  Sheltered Total Chronically Homeless Individuals, 2013            389 non-null    object
 82  Unsheltered Chronically Homeless Individuals, 2013                389 non-null    object
 83  Overall Chronically Homeless People in Families, 2013             389 non-null    object
 84  Sheltered ES Chronically Homeless People in Families, 2013        389 non-null    object
 85  Sheltered Total Chronically Homeless People in Families, 2013     389 non-null    object
 86  Unsheltered Chronically Homeless People in Families, 2013         389 non-null    object
 87  Overall Homeless Veterans, 2013                                   389 non-null    object
 88  Overall Homeless Veterans - Female, 2013                          389 non-null    object
 89  Sheltered Total Homeless Veterans, 2013                           389 non-null    object
 90  Sheltered Total Homeless Veterans - Female, 2013                  389 non-null    object
 91  Unsheltered Homeless Veterans, 2013                               389 non-null    object
 92  Unsheltered Homeless Veterans - Female, 2013                      389 non-null    object
 93  year                                                              391 non-null    int64
dtypes: float64(2), int64(1), object(91)
memory usage: 287.3+ KB

In [63]:
PIT_2014 = pd.read_csv("../data/2007-2020-PIT-Estimates-by-CoC/2014-Table 1.csv")
PIT_2014['year'] = '2014'

In [64]:
PIT_2015 = pd.read_csv("../data/2007-2020-PIT-Estimates-by-CoC/2015-Table 1.csv")
PIT_2015['year'] = '2015'

In [65]:
PIT_2016 = pd.read_csv("../data/2007-2020-PIT-Estimates-by-CoC/2016-Table 1.csv")
PIT_2016['year'] = '2016'

In [66]:
PIT_2017 = pd.read_csv("../data/2007-2020-PIT-Estimates-by-CoC/2017-Table 1.csv")
PIT_2017['year'] = '2017'

In [67]:
PIT_2018 = pd.read_csv("../data/2007-2020-PIT-Estimates-by-CoC/2018-Table 1.csv")
PIT_2018['year'] = '2018'

In [68]:
PIT_2019 = pd.read_csv("../data/2007-2020-PIT-Estimates-by-CoC/2019-Table 1.csv")
PIT_2019['year'] = '2019'

In [69]:
PIT_2020 = pd.read_csv("../data/2007-2020-PIT-Estimates-by-CoC/2020-Table 1.csv")
PIT_2020['year'] = '2020'

In [70]:
PITs = [PIT_2012, PIT_2013, PIT_2014, PIT_2015, PIT_2016, PIT_2017, PIT_2018, PIT_2019, PIT_2020]

In [71]:
# for i in PITs:
#     i.dropna(inplace=True)

In [72]:
PIT_2012

,CoC Number,CoC Name,"Overall Homeless, 2012","Sheltered ES Homeless, 2012","Sheltered TH Homeless, 2012","Sheltered SH Homeless, 2012","Sheltered Total Homeless, 2012","Unsheltered Homeless, 2012","Overall Homeless Individuals, 2012","Overall Homeless Individuals - Under 18, 2012",...,"Sheltered Total Chronically Homeless Individuals, 2012","Unsheltered Chronically Homeless Individuals, 2012","Overall Chronically Homeless People in Families, 2012","Sheltered ES Chronically Homeless People in Families, 2012","Sheltered Total Chronically Homeless People in Families, 2012","Unsheltered Chronically Homeless People in Families, 2012","Overall Homeless Veterans, 2012","Sheltered Total Homeless Veterans, 2012","Unsheltered Homeless Veterans, 2012",year
0,AK-500,Anchorage CoC,"1,147",704,393,0,"1,097",50,791,3,...,108,5,1,1,1,0,174,167,7,2012
1,AK-501,Alaska Balance of State CoC,766,435,184,0,619,147,507,30,...,149,11,5,5,5,0,82,60,22,2012
2,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...","1,707",347,630,32,"1,009",698,"1,222",25,...,137,347,11,3,3,8,175,117,58,2012
3,AL-501,Mobile City & County/Baldwin County CoC,634,212,112,0,324,310,422,0,...,17,58,0,0,0,0,52,12,40,2012
4,AL-502,Florence/Northwest Alabama CoC,192,18,170,0,188,4,162,0,...,3,0,0,0,0,0,7,7,0,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,WV-508,West Virginia Balance of State CoC,"1,604",560,274,0,834,770,"1,175",27,...,82,138,31,17,17,14,190,158,32,2012
386,WY-500,Wyoming Statewide CoC,"1,813",231,244,0,475,"1,338","1,302",11,...,97,278,77,2,2,75,311,128,183,2012
387,NaN,Total,"621,553","224,599","163,565","1,991","390,155","231,398","382,156","7,775",...,"32,647","63,621","15,769","6,913","6,913","8,856","60,579","35,143","25,436",2012
388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
389,a MO-604 covers territory in both Missouri and...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012

In [187]:
PIT_df = pd.concat(PITs)

In [188]:
PIT_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3511 entries, 0 to 391
Columns: 3148 entries, CoC Number to Unsheltered Homeless Children of Parenting Youth, 2020
dtypes: float64(939), object(2209)
memory usage: 84.4+ MB

In [189]:
PIT_df.columns.unique()

Index(['CoC Number', 'CoC Name', 'Overall Homeless, 2012',
       'Sheltered ES Homeless, 2012', 'Sheltered TH Homeless, 2012',
       'Sheltered SH Homeless, 2012', 'Sheltered Total Homeless, 2012',
       'Unsheltered Homeless, 2012', 'Overall Homeless Individuals, 2012',
       'Overall Homeless Individuals - Under 18, 2012',
       ...
       'Overall Homeless Parenting Youth Age 18-24, 2020',
       'Sheltered ES Homeless Parenting Youth Age 18-24, 2020',
       'Sheltered TH Homeless Parenting Youth Age 18-24, 2020',
       'Sheltered Total Homeless Parenting Youth Age 18-24, 2020',
       'Unsheltered Homeless Parenting Youth Age 18-24, 2020',
       'Overall Homeless Children of Parenting Youth, 2020',
       'Sheltered ES Homeless Children of Parenting Youth, 2020',
       'Sheltered TH Homeless Children of Parenting Youth, 2020',
       'Sheltered Total Homeless Children of Parenting Youth, 2020',
       'Unsheltered Homeless Children of Parenting Youth, 2020'],
      dtype='object', length=3148)

In [108]:
HIC_df.value_counts()

TypeError: '<' not supported between instances of 'datetime.datetime' and 'int'

In [ ]:
HIC.query('CoC Name')

# Missing values

In [109]:
PIT.isnull().sum()/len(PIT)*100

CoC Number                                                    0.506329
CoC Name                                                      0.506329
CoC Category                                                  0.759494
Overall Homeless, 2020                                        0.506329
Overall Homeless - Under 18, 2020                             0.506329
                                                                ...
Overall Homeless Children of Parenting Youth, 2020            0.506329
Sheltered ES Homeless Children of Parenting Youth, 2020       0.506329
Sheltered TH Homeless Children of Parenting Youth, 2020       0.506329
Sheltered Total Homeless Children of Parenting Youth, 2020    0.506329
Unsheltered Homeless Children of Parenting Youth, 2020        0.506329
Length: 542, dtype: float64

In [110]:
PIT_2012.isnull().sum()/len(PIT_2012)*100

CoC Number                                                       0.512821
CoC Name                                                         0.512821
Overall Homeless, 2012                                           0.512821
Sheltered ES Homeless, 2012                                      0.512821
Sheltered TH Homeless, 2012                                      0.512821
Sheltered SH Homeless, 2012                                      0.512821
Sheltered Total Homeless, 2012                                   0.512821
Unsheltered Homeless, 2012                                       0.512821
Overall Homeless Individuals, 2012                               0.512821
Overall Homeless Individuals - Under 18, 2012                    0.512821
Sheltered ES Homeless Individuals, 2012                          0.512821
Sheltered ES Homeless Individuals - Under 18, 2012               0.512821
Sheltered TH Homeless Individuals, 2012                          0.512821
Sheltered TH Homeless Individuals - Under 18, 2012               0.512821
Sheltered SH Homeless Individuals, 2012                          0.512821
Sheltered Total Homeless Individuals, 2012                       0.512821
Sheltered Total Homeless Individuals - Under 18, 2012            0.512821
Unsheltered Homeless Individuals, 2012                           0.512821
Unsheltered Homeless Individuals - Under 18, 2012                0.512821
Overall Homeless People in Families, 2012                        0.512821
Sheltered ES Homeless People in Families, 2012                   0.512821
Sheltered TH Homeless People in Families, 2012                   0.512821
Sheltered Total Homeless People in Families, 2012                0.512821
Unsheltered Homeless People in Families, 2012                    0.512821
Overall Homeless Family Households, 2012                         0.512821
Sheltered ES Homeless Family Households, 2012                    0.512821
Sheltered TH Homeless Family Households, 2012                    0.512821
Sheltered Total Homeless Family Households, 2012                 0.512821
Unsheltered Homeless Family Households, 2012                     0.512821
Overall Chronically Homeless, 2012                               0.512821
Sheltered ES Chronically Homeless, 2012                          0.512821
Sheltered SH Chronically Homeless, 2012                          0.512821
Sheltered Total Chronically Homeless, 2012                       0.512821
Unsheltered Chronically Homeless, 2012                           0.512821
Overall Chronically Homeless Individuals, 2012                   0.512821
Sheltered ES Chronically Homeless Individuals, 2012              0.512821
Sheltered SH Chronically Homeless Individuals, 2012              0.512821
Sheltered Total Chronically Homeless Individuals, 2012           0.512821
Unsheltered Chronically Homeless Individuals, 2012               0.512821
Overall Chronically Homeless People in Families, 2012            0.512821
Sheltered ES Chronically Homeless People in Families, 2012       0.512821
Sheltered Total Chronically Homeless People in Families, 2012    0.512821
Unsheltered Chronically Homeless People in Families, 2012        0.512821
Overall Homeless Veterans, 2012                                  0.512821
Sheltered Total Homeless Veterans, 2012                          0.512821
Unsheltered Homeless Veterans, 2012                              0.512821
dtype: float64

## Important features:

* overall homeless (year)
* sheltered homeless
* unsheltered homeless

In [111]:
PIT_2012['Overall Homeless']

KeyError: 'Overall Homeless'

In [153]:
features = pd.DataFrame(data=[PIT_2012.columns, PIT_2013.columns, PIT_2014.columns, PIT_2015.columns, PIT_2016.columns, PIT_2017.columns, PIT_2018.columns, PIT_2019.columns, PIT_2020.columns])

In [154]:
features.head()

,0,1,2,3,4,5,6,7,8,9,...,532,533,534,535,536,537,538,539,540,541
0,CoC Number,CoC Name,"Overall Homeless, 2012","Sheltered ES Homeless, 2012","Sheltered TH Homeless, 2012","Sheltered SH Homeless, 2012","Sheltered Total Homeless, 2012","Unsheltered Homeless, 2012","Overall Homeless Individuals, 2012","Overall Homeless Individuals - Under 18, 2012",...,None,None,None,None,None,None,None,None,None,None
1,CoC Number,CoC Name,"Overall Homeless, 2013","Overall Homeless - Under 18, 2013","Overall Homeless - Age 18 to 24, 2013","Overall Homeless - Over 24, 2013","Sheltered ES Homeless, 2013","Sheltered ES Homeless - Under 18, 2013","Sheltered ES Homeless - Age 18 to 24, 2013","Sheltered ES Homeless - Over 24, 2013",...,None,None,None,None,None,None,None,None,None,None
2,CoC Number,CoC Name,"Overall Homeless, 2014","Overall Homeless - Under 18, 2014","Overall Homeless - Age 18 to 24, 2014","Overall Homeless - Over 24, 2014","Sheltered ES Homeless, 2014","Sheltered ES Homeless - Under 18, 2014","Sheltered ES Homeless - Age 18 to 24, 2014","Sheltered ES Homeless - Over 24, 2014",...,None,None,None,None,None,None,None,None,None,None
3,CoC Number,CoC Name,"Overall Homeless, 2015","Overall Homeless - Under 18, 2015","Overall Homeless - Age 18 to 24, 2015","Overall Homeless - Over 24, 2015","Overall Homeless - Female, 2015","Overall Homeless - Male, 2015","Overall Homeless - Transgender, 2015","Overall Homeless - Non-Hispanic/Non-Latino, 2015",...,None,None,None,None,None,None,None,None,None,None
4,CoC Number,CoC Name,"Overall Homeless, 2016","Overall Homeless - Under 18, 2016","Overall Homeless - Age 18 to 24, 2016","Overall Homeless - Over 24, 2016","Overall Homeless - Female, 2016","Overall Homeless - Male, 2016","Overall Homeless - Transgender, 2016","Overall Homeless - Non-Hispanic/Non-Latino, 2016",...,None,None,None,None,None,None,None,None,None,None

In [24]:
PIT_CoC = pd.read_excel("../data/2007-2020-PIT-Estimates-by-CoC.xlsx")

In [30]:
PIT_CoC.columns

Index(['CoC Number', 'CoC Name', 'CoC Category', 'Overall Homeless, 2020',
       'Overall Homeless - Under 18, 2020',
       'Overall Homeless - Age 18 to 24, 2020',
       'Overall Homeless - Over 24, 2020', 'Overall Homeless - Female, 2020',
       'Overall Homeless - Male, 2020', 'Overall Homeless - Transgender, 2020',
       ...
       'Overall Homeless Parenting Youth Age 18-24, 2020',
       'Sheltered ES Homeless Parenting Youth Age 18-24, 2020',
       'Sheltered TH Homeless Parenting Youth Age 18-24, 2020',
       'Sheltered Total Homeless Parenting Youth Age 18-24, 2020',
       'Unsheltered Homeless Parenting Youth Age 18-24, 2020',
       'Overall Homeless Children of Parenting Youth, 2020',
       'Sheltered ES Homeless Children of Parenting Youth, 2020',
       'Sheltered TH Homeless Children of Parenting Youth, 2020',
       'Sheltered Total Homeless Children of Parenting Youth, 2020',
       'Unsheltered Homeless Children of Parenting Youth, 2020'],
      dtype='object', length=542)