In [1]:
import functions
import pandas as pd
import numpy as np

In [2]:
PIT_2012 = pd.read_csv("../data/2007-2020-PIT-Estimates-by-CoC/2012-Table 1.csv")

In [3]:
h = functions.homeless(PIT_2012, 2012)

In [4]:
h.df.columns;

In [5]:
h.format_df();

In [6]:
# PIT_2012.columns = PIT_2012.columns.str.replace('2012', '')
# PIT_2012.columns = PIT_2012.columns.str.replace(',', '')

In [7]:
h.rename_columns()
h.df.columns;

In [8]:
cols = ['CoC Name', 'CoC Number', 'Overall Chronically Homeless',
 'Overall Chronically Homeless Individuals',
 'Overall Chronically Homeless People in Families', 'Overall Homeless',
 'Overall Homeless Family Households', 'Overall Homeless Individuals',
 'Overall Homeless Individuals - Under 18',
 'Overall Homeless People in Families', 'Overall Homeless Veterans',
 'Sheltered ES Chronically Homeless',
 'Sheltered ES Chronically Homeless Individuals',
 'Sheltered ES Chronically Homeless People in Families',
 'Sheltered ES Homeless', 'Sheltered ES Homeless Family Households',
 'Sheltered ES Homeless Individuals',
 'Sheltered ES Homeless Individuals - Under 18',
 'Sheltered ES Homeless People in Families',
 'Sheltered SH Chronically Homeless',
 'Sheltered SH Chronically Homeless Individuals' 'Sheltered SH Homeless',
 'Sheltered SH Homeless Individuals', 'Sheltered TH Homeless',
 'Sheltered TH Homeless Family Households',
 'Sheltered TH Homeless Individuals',
 'Sheltered TH Homeless Individuals - Under 18',
 'Sheltered TH Homeless People in Families',
 'Sheltered Total Chronically Homeless',
 'Sheltered Total Chronically Homeless Individuals',
 'Sheltered Total Chronically Homeless People in Families',
 'Sheltered Total Homeless', 'Sheltered Total Homeless Family Households',
 'Sheltered Total Homeless Individuals',
 'Sheltered Total Homeless Individuals - Under 18',
 'Sheltered Total Homeless People in Families',
 'Sheltered Total Homeless Veterans' 'Unsheltered Chronically Homeless',
 'Unsheltered Chronically Homeless Individuals',
 'Unsheltered Chronically Homeless People in Families',
 'Unsheltered Homeless', 'Unsheltered Homeless Family Households',
 'Unsheltered Homeless Individuals',
 'Unsheltered Homeless Individuals - Under 18',
 'Unsheltered Homeless People in Families', 'Unsheltered Homeless Veterans',
 'unsheltered rate', 'year']

In [9]:
len(cols)

46

In [10]:
# ITh = functions.homeless(PIT_2012, 2012)
# h.strip_columns(cols)

In [17]:
PIT = pd.read_csv("../src/cleaned_PIT_df.csv")
PIT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3538 entries, 0 to 3537
Data columns (total 50 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Unnamed: 0                                               3538 non-null   int64
 1   CoC Number                                               3520 non-null   object
 2   CoC Name                                                 3520 non-null   object
 3   Overall Homeless                                         3520 non-null   float64
 4   Sheltered ES Homeless                                    3520 non-null   float64
 5   Sheltered TH Homeless                                    3520 non-null   float64
 6   Sheltered SH Homeless                                    3520 non-null   float64
 7   Sheltered Total Homeless                                 3520 non-null   float64
 8   Unsheltered Homeless                                     3520 non-null   float64
 9   Overall Homeless Individuals                             3520 non-null   float64
 10  Overall Homeless Individuals - Under 18                  3520 non-null   float64
 11  Sheltered ES Homeless Individuals                        3520 non-null   float64
 12  Sheltered ES Homeless Individuals - Under 18             3520 non-null   float64
 13  Sheltered TH Homeless Individuals                        3520 non-null   float64
 14  Sheltered TH Homeless Individuals - Under 18             3520 non-null   float64
 15  Sheltered SH Homeless Individuals                        3520 non-null   float64
 16  Sheltered Total Homeless Individuals                     3520 non-null   float64
 17  Sheltered Total Homeless Individuals - Under 18          3520 non-null   float64
 18  Unsheltered Homeless Individuals                         3520 non-null   float64
 19  Unsheltered Homeless Individuals - Under 18              3520 non-null   float64
 20  Overall Homeless People in Families                      3520 non-null   float64
 21  Sheltered ES Homeless People in Families                 3520 non-null   float64
 22  Sheltered TH Homeless People in Families                 3520 non-null   float64
 23  Sheltered Total Homeless People in Families              3520 non-null   float64
 24  Unsheltered Homeless People in Families                  3520 non-null   float64
 25  Overall Homeless Family Households                       3520 non-null   float64
 26  Sheltered ES Homeless Family Households                  3520 non-null   float64
 27  Sheltered TH Homeless Family Households                  3520 non-null   float64
 28  Sheltered Total Homeless Family Households               3520 non-null   float64
 29  Unsheltered Homeless Family Households                   3520 non-null   float64
 30  Overall Chronically Homeless                             3520 non-null   float64
 31  Sheltered ES Chronically Homeless                        3520 non-null   float64
 32  Sheltered SH Chronically Homeless                        3520 non-null   float64
 33  Sheltered Total Chronically Homeless                     3520 non-null   float64
 34  Unsheltered Chronically Homeless                         3520 non-null   float64
 35  Overall Chronically Homeless Individuals                 3520 non-null   float64
 36  Sheltered ES Chronically Homeless Individuals            3520 non-null   float64
 37  Sheltered SH Chronically Homeless Individuals            3520 non-null   float64
 38  Sheltered Total Chronically Homeless Individuals         3520 non-null   float64
 39  Unsheltered Chronically Homeless Individuals             3520 non-null   float64
 40  Overall Chronically Homeless People in Families          3520 non-null   float64
 41  Sheltered ES Chronically Homeless People in Families     3520 non-null   float64
 42  Sheltered Total Chronically Homeless People in Families  3520 non-null   float64
 43  Unsheltered Chronically Homeless People in Families      3520 non-null   float64
 44  Overall Homeless Veterans                                3520 non-null   float64
 45  Sheltered Total Homeless Veterans                        3520 non-null   float64
 46  Unsheltered Homeless Veterans                            3520 non-null   float64
 47  year                                                     3538 non-null   int64
 48  state                                                    3520 non-null   object
 49  unsheltered rate                                         3520 non-null   float64
dtypes: float64(45), int64(2), object(3)
memory usage: 1.3+ MB

In [19]:
# PIT.isnull().sum()/len(PIT)*100;
# PIT["Overall Homeless"] = PIT.groupby("state").transform(lambda x: x.fillna(x.mean()))

In [21]:
PIT1 = PIT.dropna()

In [22]:
PIT1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3511 entries, 0 to 3534
Data columns (total 50 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Unnamed: 0                                               3511 non-null   int64
 1   CoC Number                                               3511 non-null   object
 2   CoC Name                                                 3511 non-null   object
 3   Overall Homeless                                         3511 non-null   float64
 4   Sheltered ES Homeless                                    3511 non-null   float64
 5   Sheltered TH Homeless                                    3511 non-null   float64
 6   Sheltered SH Homeless                                    3511 non-null   float64
 7   Sheltered Total Homeless                                 3511 non-null   float64
 8   Unsheltered Homeless                                     3511 non-null   float64
 9   Overall Homeless Individuals                             3511 non-null   float64
 10  Overall Homeless Individuals - Under 18                  3511 non-null   float64
 11  Sheltered ES Homeless Individuals                        3511 non-null   float64
 12  Sheltered ES Homeless Individuals - Under 18             3511 non-null   float64
 13  Sheltered TH Homeless Individuals                        3511 non-null   float64
 14  Sheltered TH Homeless Individuals - Under 18             3511 non-null   float64
 15  Sheltered SH Homeless Individuals                        3511 non-null   float64
 16  Sheltered Total Homeless Individuals                     3511 non-null   float64
 17  Sheltered Total Homeless Individuals - Under 18          3511 non-null   float64
 18  Unsheltered Homeless Individuals                         3511 non-null   float64
 19  Unsheltered Homeless Individuals - Under 18              3511 non-null   float64
 20  Overall Homeless People in Families                      3511 non-null   float64
 21  Sheltered ES Homeless People in Families                 3511 non-null   float64
 22  Sheltered TH Homeless People in Families                 3511 non-null   float64
 23  Sheltered Total Homeless People in Families              3511 non-null   float64
 24  Unsheltered Homeless People in Families                  3511 non-null   float64
 25  Overall Homeless Family Households                       3511 non-null   float64
 26  Sheltered ES Homeless Family Households                  3511 non-null   float64
 27  Sheltered TH Homeless Family Households                  3511 non-null   float64
 28  Sheltered Total Homeless Family Households               3511 non-null   float64
 29  Unsheltered Homeless Family Households                   3511 non-null   float64
 30  Overall Chronically Homeless                             3511 non-null   float64
 31  Sheltered ES Chronically Homeless                        3511 non-null   float64
 32  Sheltered SH Chronically Homeless                        3511 non-null   float64
 33  Sheltered Total Chronically Homeless                     3511 non-null   float64
 34  Unsheltered Chronically Homeless                         3511 non-null   float64
 35  Overall Chronically Homeless Individuals                 3511 non-null   float64
 36  Sheltered ES Chronically Homeless Individuals            3511 non-null   float64
 37  Sheltered SH Chronically Homeless Individuals            3511 non-null   float64
 38  Sheltered Total Chronically Homeless Individuals         3511 non-null   float64
 39  Unsheltered Chronically Homeless Individuals             3511 non-null   float64
 40  Overall Chronically Homeless People in Families          3511 non-null   float64
 41  Sheltered ES Chronically Homeless People in Families     3511 non-null   float64
 42  Sheltered Total Chronically Homeless People in Families  3511 non-null   float64
 43  Unsheltered Chronically Homeless People in Families      3511 non-null   float64
 44  Overall Homeless Veterans                                3511 non-null   float64
 45  Sheltered Total Homeless Veterans                        3511 non-null   float64
 46  Unsheltered Homeless Veterans                            3511 non-null   float64
 47  year                                                     3511 non-null   int64
 48  state                                                    3511 non-null   object
 49  unsheltered rate                                         3511 non-null   float64
dtypes: float64(45), int64(2), object(3)
memory usage: 1.4+ MB